# -------------------------------
# JS/jQuery Gitignore by Joho
# -------------------------------
# Version   v0.7.0
# Created   17-Oct-2014
# Updated   13-Jan-2016
# Docs      http://git-scm.com/docs/gitignore
# -------------------------------




# -------------------------------
# Node.js & Bower
# -------------------------------

bower_components/
node_modules/

# -------------------------------




# -------------------------------
# Build
# -------------------------------

.sass-cache/
.tmp/
dist/client/

# -------------------------------




# -------------------------------
# Runtime Data & Logs
# -------------------------------

*.out
*.pid
*.seed
.harvest
coverage/
journal/
lib-cov/
logs/
pids/
report/
results/

# -------------------------------




# -------------------------------
# Packages
# -------------------------------

*.7z
*.csv
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# -------------------------------




# -------------------------------
# Data & Database
# -------------------------------

*.log
*.sql
*.sqlite
*.mdf
*.ldf

# -------------------------------





# -------------------------------
# OS-Generated/Miscellaneous
# -------------------------------

*~
*.lnk
.DS_Store*
._*
*.sublime*
.Spotlight-V100
.Trashes
ehthumbs.db
packages
ignore
Icon?
Thumbs.db

# -------------------------------

