/*
https://www.google.com/design/spec/components/cards.html#cards-actions
https://www.google.com/design/spec/components/cards.html#cards-content-blocks
*/

.gp-video {
  &__iframe {
    border: 0 none transparent;
  }
}